
body{
    background-image: url("../resources/images/bg.png");
}
.img-rounded{
    height: 140px;
    width: 140px;
    float: left;
}

.cocktailContainer{
    background-color: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 15px;
    width: 50%;
}

.cocktail-display{
    margin-left: 25%;
    width: 50%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 2%;
}

.cocktail-description{

    margin-left: 39%;
}

.cocktail-image{
    width: 50%;
}